body {
    font-family: Arial, sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border: 0.1px solid #444;
    border-radius: 16px;
}

p {
    color: #fff;
}

h1 {
    color: #FFD700;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

.user-info {
    margin-bottom: 20px;
}

.user-info p {
    margin: 5px 0;
}

.answers {
    max-width: 1300px;
    margin: 0 auto;
}

.answer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}

.answer.header {
    font-weight: bold;
    color: #FFD700;
}

.answer:last-child {
    border-bottom: none;
}

.answer .item {
    flex: 1;
    text-align: center;
    color: #fff;
}

.answer .header-item {
    flex: 1;
    text-align: center;
    color: lime;
}

